name: Tests
on: [push, pull_request]
jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: check black
        uses: psf/black@stable
  tests:
    needs: black
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        include:
          - os: windows-latest
            python-version: "3.13"
          - os: macos-latest
            python-version: "3.13"
    runs-on: ${{ matrix.os }}
    env: 
      ADS_DEV_KEY: ${{ secrets.ADS_DEV_KEY }}
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: set ADS_DEV_KEY on Windows
        run: echo "ADS_DEV_KEY=${{ secrets.ADS_DEV_KEY }}" | Out-File -FilePath $env:GITHUB_ENV -Append
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: install qt dependencies
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y libegl1
      - name: install library
        run: pip install -e .[test]
      - name: run pytest
        run: coverage run -m pytest

      # upload to coveralls (but only one version)
      - name: make lcov file for Coveralls upload
        if: (matrix.python-version == 3.13) && startsWith(matrix.os,'ubuntu')
        run: coverage lcov -i
      - name: upload to Coveralls
        if: (matrix.python-version == 3.13) && startsWith(matrix.os,'ubuntu')
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.lcov
